---
layout: default
title: 归档
permalink: /nav/archives/
navid: 3
---

<div class="archives">
<dl>
{% assign post_list = site.posts %}
{% for p in post_list %}
	{% assign date = p.date | date:"%Y %b"| upcase %}
	{% if group == date %}
	{% else %}
		<hr/>
		<dt><h1>{{ date }}</h1></dt>
		{% assign group = date %}
	{% endif %}
	{% if p.title and p.url %}
	<dd><div class="post-record">{{ p.date | date:"%d %b %T"| upcase }} <a href="{{ p.url }}">{{ p.title }}</a></div></dd>
	{% endif %}
{% endfor %}
</dl>
</div>