---
layout: default
title: 首页
navid: 1
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a class="prev" href="{{paginator.previous_page_path}}">第{{ paginator.page | minus:1 }}页</a>
    {% endif %}
	<span> {{ paginator.page }} / {{ paginator.total_pages }} </span>
    {% if paginator.next_page %}
      <a class="next" href="{{paginator.next_page_path}}">第{{ paginator.page | plus:1 }}页</a>
    {% endif %}
  </div>
</div>

