---
---

@import "{{ site.theme }}";

h1.project-name {
	font-size:6.0em !important;
}

body {
	font-family: Courier, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	>nav {
		font-size:1.5em;
		float:right;
		position: relative;
		vertical-align: baseline;
		display: block;
		margin-top:-60px;
		margin-right:50px;
		ul li {
			list-style-type: none;
			float:left;
			margin-left:20px;
			
			a {
				color:#a3ff65 !important;
			}
		}
	}
}


article {
	margin-bottom:50px;
}

code {
	font-family: Courier, Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
	font-size:1.0em !important;
}

pre {
	font: 1rem Courier, Consolas, "Liberation Mono", Menlo, monospace !important;
	font-size:1.0em !important;
	>code {
		font-size:1.0em !important;
	}
}

.next-post-link {
	float:left;
}

.prev-post-link {
	float:right;
}

div.pagination {
	text-align:center;
	.next {
		float:right;
	}
	
	.prev {
		float:left;
	}
	
	span::before {
		content:"-";
	}
		
	span::after {
		content:"-";
	}
}

div.categories,div.archives {
	hr {
		height:1px;
	}
	
	.post-record {
		font-size:1.3em;
	}
}
